{# Injected into <head> by themes/neovim-theme/templates/base.html.
   Loads project-level fonts and overrides on top of the vendored theme. #}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,600;0,700;1,400&family=JetBrains+Mono:ital,wght@0,400;0,500;1,400&display=swap"
  rel="stylesheet"
>

<link rel="stylesheet" href="{{ get_url(path='css/menu.css') }}">
<link rel="stylesheet" href="{{ get_url(path='css/class.css') }}">
<link rel="stylesheet" href="{{ get_url(path='css/copy-btn.css') }}">

{# Base-aware URL for the :help command (theme's commands.js reads this). #}
<script>window.HELP_URL = "{{ get_url(path='readme') }}";</script>

<script src="{{ get_url(path='js/menu.js') }}" defer></script>
<script src="{{ get_url(path='js/copy-code.js') }}" defer></script>
